*{
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
}

/* <!--  TOP BAR --> */
.top_bar{height: 65px;background-color: #0f1111;display:flex; justify-content: space-evenly; font-family: Arial;}

/* amz_logo */
.logo_box{width: 130px;height: 65px; position: relative;}
.amz_logo{
    background-image:url('images/download.png');
    width: 100%; height: 60px;
    background-size: cover;
    padding: 0px 8px 0px 6px;
    margin-left: 5px;
    overflow: visible;

    transition: border 0.3s, box-shadow 0.3s;
}
.amz_logo:hover{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}


/* location */
.location_box{width: 100px; height: 65px;
transition: border 0.3s;
margin-left:10px;}
.delivery p {padding:10px 0px 0px 0px;font-size: 11px; color: #cccccc; margin-left: 21px;}
.address_box{width: 100%; height: 60px; margin:5px 2px 5px 0px; padding: 0px 9px;}
.location_row{display: flex; align-items: center; gap: 1px;}
.country p{font-size: 15px; color: #ffffff;}

.location_box:hover{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}



/* Searching */
.search_box{ flex-grow:1 ; height:60px; display:flex; text-align:center;}
.select_box{
    width:58px; height:40px; margin: 10px 0px 10px 10px;
    background-color: #e6e6e6; color: #0f1111;
    border-top-left-radius:5px; border-bottom-left-radius:5px; font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: none;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.select_box:hover{
    transform: translateY(-1px);
    border: 2px solid rgb(255, 156, 26);
    border-radius: 4px;
}
.select_box span{
    width: 10px;
    height: 10px;
    font-size: 12px;
    margin: 0px 1px 0px 0px;
    color: #0f1111;
}
.select_box span i{
    position: relative;
    top: -2px;
    color: #0f1111;
    font-size: 18px;
    padding: 0px 5px 0px 2px;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}


.type_box{
    width:100%; height:40px; margin:10px 0px 10px 0px;
    background-color: #ffffff; color:#0f1111; font-size:14px;
    border: none; padding-left: 10px;

    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.type_box:hover{
    transform: translateY(-3px);
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}
.search_icon i {
    width:45px; height:41px; margin:10px 10px 10px 0px;
    display: flex; justify-content: center; align-items: center;
    background-color: rgb(228, 172, 18); color: #0f1111; font-size: 1.2rem;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;
    transition: border 0.3s;
}
.search_icon i:hover{
    border: 2px solid white;
    border-radius: 2px;
}
/* tools area*/
.tool_box{width:400px; height: 65px;display:flex; text-align: center; justify-content: space-evenly;
    
  }

/* language */
.language_box{width: 61px; height:55px; 
    padding: 27px 0px 4px 0px;
    margin: 1px;
    display: flex; 
    justify-content:center; 
    text-align: center;
    gap:1px;
    transition: border 0.3s;
}
.language_box:hover{
    border: 2px solid white;
    border-radius: 4px;
}
.country_icon{height: 16.2px;}
.language{width:100%; height:17px; margin:0px;
    background-color: #0f1111; color:#ffffff;
    text-align: center;
    border: none;
    font-size: 14px;
}
/* account */
.acct_box{width:141.55px; height:55px; margin:1px; padding:0px 9px;}
.content{width:120px; height:50px; margin:1px; 
    background-color: #0f1111;
    text-align:left; font-size:12px; color: #cccccc; font-weight: 100;
    padding:20px 0px 0px 0px;
    transition: border 0.3s;
}
.content:hover{
    border: 2px solid white;
}
.acct{
    width:100%; height:15px;
    background-color: #0f1111; color: #ffffff;
    border:none; text-align:center; font-size:14px; font-weight:800;
}

/* return and order */
.return_order_box{width:77px; height:55px;
    margin:1px 0px 0px 2px; padding:20px 0px 0px 0px;
    text-align: left;
    transition: border 0.3s;
}
.return_order_box:hover{
    border: 2px solid white;
    border-radius: 4px;
}
.return_order_box span{font-size:12px; color: #ffffff; font-weight: 100;
    margin-left: 5px;

}
.return_order_box p{font-size:14px; font-weight:800;}
/* cart */
.cart_box{width:84px; height:55px; display:flex; margin:1px; padding:20px 0px 0px 0px;
    transition: border 0.3s;

}
.cart_box i{font-size: 35px;}
.cart{width: 28px;height:39px; margin:1px; padding-top:15px;
    font-size:14px; font-weight:bold ;color: #ffffff;
}
.cart_box:hover{
    border: 2px solid white;
}

/*secondary box*/
.secondary_bar{
    width:100%; height:39px; 
    background-color: #232f3e;
    display: flex; text-align: center; 
    justify-content: flex-start;
    font-family: arial;
}

.all_box{
    width:59px; height: 35px;
    padding: 6px 3px;  
    margin-right:2px;
    margin-left: 15px;
    display: flex;
    gap:5px;
    
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.all_box:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}
.line_bar{font-size: 20px;}
.line_bar i {
    width:17px; height:14px;
    display: block;
}
.line_bar i + i {
  margin-top: -5px;  /* Pull second icon upwards */
}
.all_box div+div{padding-top: 6px; font-size: 14px; font-weight: 900;}


/*secondary box elements*/
.second_box{
    width:105px;height:28px;
    margin:5px 0px 5px 0px;
    text-align: left;
    padding:8px 5px;
    font-size: 14px;

    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.second_box:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}
.box3{
    width:61px;height:28px;
    margin:5px 0px 5px 0px;
    text-align: left;
    padding:8px 5px;
    font-size: 14px;

    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.box3:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}
.box4{
    width:87px;height:28px;
    margin:5px 0px 5px 0px;
    text-align: left;
    padding:8px 5px;
    font-size: 14px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.box4:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}
.box5{
    width:78px;height:28px;
    margin:5px 0px 5px 0px;
    text-align: left;
    padding:8px 5px;
    font-size: 14px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.box5:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}
.box6{
    width:130px;height:28px;
    margin:5px 0px 5px 0px;
    text-align: left;
    padding:8px 5px;
    font-size: 14px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.box6:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}
.box7{
    width:34px;height:28px;
    margin:5px 0px 5px 0px;
    text-align: left;
    padding:8px 5px;
    font-size: 14px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.box7:hover{
    transform: translateY(-2px);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
}


/* content body */
.content_body{
    background-color: #e3e6e6;
    width:100%px; height:100%px;
}
.ad_box{
    height:600px;
    margin:0% 10% 0% 10%;
    
}
.ad{
    width:100%; height:100%;
    background-image:
    linear-gradient(to bottom, rgba(225,225,225,0.1)70%, rgba(227,230,230,1)100%),
    url(images/71xHyqBwdcL._SX3000_.jpg);
    background-size:cover;
    background-position:center;
    display: flex;
}
.arow1, .arow2{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    
}
.arow1 i, .arow2 i{
    padding: 10px;
    color: rgba(245, 241, 241, 0.7);
    font-weight: bold;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.arow1 i:hover, .arow2 i:hover{
    transform: translateY(-3px);
    border: 2px solid white;
    border-radius:  70%;
    box-shadow: 0px 0px 15px white;
}
.arow1{
    position: relative;
    top: 130px;
}
.arow2{
    position: relative;
    left: 1493px;
    top: 130px;
}



.collection_box0{
    height:420px;
    width: 1650px;
    margin:0% 11% 0% 10.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -380px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}

.single_card{
    height: 100%;
    width: 380px;
    padding: 20px 20px 15px 20px;
    background-color: #ffffff;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;

}
.single_card:hover{
    transform: translateY(-6px);
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}
.single_card h2{
    width:100%; height:27.3px;
    font-size: 21px; font-weight:900;
    margin:0px 0px 15px 0px;
    text-align: left;
    color: #0f1111;
    transition: transform 0.2s;
}
.single_card div{
    height: 303.7px;
    width:100%;
    background-size: cover;
    background-position: center;
    margin-bottom:20px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.single_card div:hover{
    transform: translateY(-2px);
    border: 1px solid orange;
    border-radius: 1px;
    box-shadow: 0px 0px 5px orange;

}
.single_card p{
    height: 17px;
    font-size: 13px;
    color: #2162A1;
    cursor: pointer;
}
.single_card{
    box-shadow: 0px 4px 10px #6b6b6b;
}

.fourbox_card{
    height:100%;
    width: 380px;
    padding:20px 20px 15px 20px;
    background-color: #ffffff;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.fourbox_card:hover{
    transform: translateY(-6px);
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}
.fourbox_card h2{
    width:100%; height:27.3px;
    font-size: 21px; font-weight:900;
    margin:0px 0px 15px 0px;
    text-align: left;
    color: #0f1111;
    
}
.row{
    width:295px; height:150px;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    
}
.box{
    width:140px; height: 103px;
    background-size: cover;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.box:hover{
    transform: translateY(-2px);
    border: 1px solid orange;
    border-radius: 1px;
    box-shadow: 0px 0px 5px orange;
}
.fourbox_card span{
    height: 17px;
    font-size: 12px;
    color:#0f1111;
    
}
.fourbox_card p{
    height: 17px;
    font-size: 13px;
    color: #2162A1;
    margin-top: 20px;
    cursor: pointer;
}
.fourbox_card{
    box-shadow: 0px 4px 10px #6b6b6b;
}


.collection_box{
    height:420px;
    width: 1650px;
    margin:0% 11% 0% 10.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fullrow_img{
    width:295px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.fullrow_img:hover{
    transform: translateY(-2px);
    border: 1px solid orange;
    border-radius: 1px;
    box-shadow: 0px 0px 5px orange;
}

.small_img{
    width: 90px;
    height: 75px;
    background-size: cover;
    margin-top: 35px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.small_img:hover{
    transform: translateY(-2px);
    border: 1px solid orange;
    border-radius: 1px;
    box-shadow: 0px 0px 5px orange;

}
.rectangle_layout{
    height: 285px;
    margin:0% 12% 0% 11.5%;
    padding: 0px 10px;
}
.rect_content_area{
    height:281.5px;
    margin:5px;
    padding:10px 20px 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px #6b6b6b;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.rect_content_area:hover{
    transform: translateY(-6px);
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;

}
.rect_heading h2{
    height: 25px;
    color: #0f1111;
    font-size: 21px;
    margin: 1px;

}
.rect_heading p{
    font-size: 13px;
    color: #2162A1;
    padding: 6px 0px 0px 15px ;
    margin: 1px;
    cursor: pointer;
}
.rect_img_area{
    height:210px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}
.rect_img{
    height:200px;
    width: 115px;
    margin: 1px;
    padding: 5px 4px;
    background-position: center;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.rect_img:hover{
    transform: translateY(-4px);
    border: 1px solid orange;
    border-radius: 1px;
    box-shadow: 0px 0px 3px orange;
}
.lowerpart{
    height:590px;
    width:1905px;
    color: #ffffff;
    position: relative;
}
.lowerpart_box{
    height: 500px;
    width: 100%;
    margin-top: 45px;
    padding: 0px 20px;
    position: absolute;
    top: -35px;
    left: 100px;
}
.lowerpart_collection{
    height:446px;
    width: 1863px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.lowerpart_heading{
    height: 44px;
    width: 1200px;
    margin: 5px;
    padding: 15px ;
}
.lowerpart_heading h2{
    color: #0f1111;
    font-size: 18px;
}
.lowerpart_content{
    height: 360px;
    width: 1759px;
    margin: 10px 42px 10px 42px;
    display: flex;
    justify-content: space-evenly;
    
}
.lowerpart_content_box{
    height: 330px;
    width: 175px;
    margin: 10px;
}
.lower_img_content{
    height:165px; width: 165px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
    
}
.lower_img_content:hover{
    transform: translateY(-4px);
    border: 1px solid orange;
    border-radius: 1px;
    box-shadow: 0px 0px 3px orange;
    
}
.lowerpart_content_box p{
    font-size: 14px;
    color: #1262a1;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}
.star_rating{
    height:20px;
    padding: 0px 5px 0px 5px;
    display: flex;
    cursor: pointer;
}
.star i{
    color: rgb(248, 163, 51);
}
.star_rating span {
    height: 15px;
    width: 32px;
    font-size: 14px;
    color: #1262a1;
    padding: 0px 0px 1px 5px;
}
.price p{
    height: 22px;
    font-size: 17px;
    color: #0f1111;
    margin: 1px;
    padding: 5px;
}
.price p+p {
    height: 25px;
    font-size: 12px;
    color: #0f1111;
    margin: 1px;
    padding: 5px;
}
.low_heading{
    height: 36px;
    text-align: center;
    margin: 10px 5px 5px 5px;
}
.low_heading span {
    font-size: 24px;
    font-weight: 800;
    color: #0f1111;
}
.sing_box{
    height: 30px;
    display: flex;                 
    align-items: center;           
    justify-content: center;       
}
.sing {
    height:35px;
    width: 300px;
    background-color:#ffd814;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
    
}
.sing:hover{
    transform: translateY(-5px);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px white;
}
.sing span {
    font-size: 13px;
    color: #0f1111;
    font-weight: 300;
    display: inline-block;
    padding-top: 7.7px;
}
.small_line{
    height: 35px;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 5px;
    border-bottom: 1px solid #DDD;
}
.small_line h5 {
    font-size: 11px;
    color: #0f1111;
}
.small_line p{
    font-size: 11px;
    color: #2162A1;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #0f1111;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    padding: 0px 0px 0px 3px;
    cursor: pointer;
}
.back_top{
    height: 49px;
    padding: 15px 0px;
    background-color: #37475a;
}
.back_top span{
    color: #ffffff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s; 
    cursor: pointer;
}
.back_top span:hover{
    transform: translateY(-5px);
    box-shadow: 0px, 0px 5px wheat;
}
.footer{
    height:291px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #37475a
}
.footer_context{
    height: 290px;
    width: 170px;
    padding: 0px 10px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.footer_context:hover{
    transform: translateY(-5px);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}
.footer_context h3{
    position: relative;
    display: block;
    font-size: 18px;
    color: #ffffff;
    margin: 6px 0px 14px 0px;
    transition: transform 0.2s;
    
}
.footer_context h3:hover{
    transform: translateY(-2px);
    
}
.footer_context p{
    display: block;
    font-size: 14px;
    color: #DDD;
    margin-bottom: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}
.footer_context p:hover{
    transform: translateY(-3px);
}
.footer_logos{
    height: 100px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amza_logo img{
    position: relative;
    height: 50px; 
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 5px;
    right: 80px;
    border-radius: 12px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.amza_logo img:hover{
    transform: translateY(-3px);
    border: 2px solid orange;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.eng_box{
    height: 35px;
    width: 145px;
    margin: 1px 0px 1px 10px;
    border: 1px solid #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
    transition: transform 0.2s, border 0.3s, box-shadow 0.3s;
}
.eng_box:hover{
    transform: translateY(-3px);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}
.arrow_bottom{
    height: 10px;
    width: 12px;
    /* margin: 0px 0px 5px 0px; */
}
.eng_box i{
    display: block;
    font-size: 15px;
    margin: 2px 6px 2px 2px;
    color: #cccccc;
}
.eng_box p{
    display: block;
    font-size: 13px;
    padding: 0px 6px;
    margin-top: 2.5px;
    color: #cccccc;
}
.arrow_bottom i {
    display: block;
    font-size: 8px;
    color: #cccccc;
}

/* popup model */
.modal{
    display: none;
    position: fixed;
    width: 600px;
    height: 400px;
    border: 1px solid #b4b8b8;
    margin: 10px;
    border-radius: 10px;
    top: 40%;
    left: 35%;
    background-color: rgb(242, 244, 247);
    z-index: 1002;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.3);
    overflow-y: auto;
    transition: transform 0.2s, box-shadow 0.3s;
}
.modal:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 15px #ffd814;
}
.heading{
    width: 100%;
    background-color: #F0F2F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 24px;
    border-radius: 10px;
    border-bottom: 1px solid  #f0f2f2;
    box-shadow: 0px 3px 6px  -2px #ffd814;  
    perspective: 800px;
}
.heading h2{
    display: inline-block;
    position: relative;
    width: 296px; height: 56px;
    padding: 18px 10px 18px 10px;
    margin: 0px 0px 8px 20px;
    color: #0f1118;
    font-family: arial;
}
.heading span{
    width: 70px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #0f1111;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px;
    border-radius:12px ;
    

    transition: transform 0.15s, border 0.4s, box-shadow 0.2s;
}
.heading span:hover{
    transform: translate3d(0px,-2px,0px);
    border: 1px solid #ffd814;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ffd814;
}
.popup_address_box{
    width: 100%; height: 327px;
    padding: 20px 45px;
    text-align: center;
}
.popup_address_box span{
    display: inline-block;
    height: 60px;
    font-size: 20px;
    color: #0f1111;
    margin: 10px;
    padding: 5px 0px;
    color: #565959;
    text-align: left;
}
.singing_box p{
    position: relative;
    display: block;
    width: 450px; height:50px;
    line-height: 50px;
    background-color: #ffd814;
    text-align: center;
    font-size: 20px;
    color: #0f1111;
    border-radius: 60px;

    transition: transform 0.2s, box-shadow 0.3s;
}
.singing_box p:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px #092768;
}
.pincode_line{
    position: relative;
    top: 15px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_01 {
    width: 100px;
    border-top: 1px solid #d5d9d9;
}
.content_line{
    width: 250px;
    color: #565959;
    font-size: 18px;
}
.addss_input{
    width: 490px;
    height: 70px;
    margin:5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addss_input input{
    width: 400px;
    height: 50px;
    margin: 10px;
    padding: 5px 0px 5px 20px;
    color: #0f1111;
    border-radius: 15px;
    font-size: 20px;

    transition: transform 0.2s, background-color, box-shadow 0.4s;
}
.addss_input input:hover{
    transform: translateY(-3px);
    background-color: #d8e1f5;
    box-shadow: 0px 0px 15px #092768;
}
.addss_input span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;

    transition: transform 0.2s, box-shadow 0.3s, background-color 0.2s;
}
.addss_input span:hover{
    transform: translatey(-3px);
    box-shadow:0px 0px 15px #092768;
    background-color: #ffd814;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1000; 
}
body.modal-open{
    overflow: hidden;
}

.dropdown_list{
    position: relative;
    width: 250px;
    height: 500px;
    background-color: #232f3e;
    
    left: 12%;
    bottom: 3790px;
    margin: 5px;
    padding: 25px 13px 25px 13px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    overflow-y: auto;
    z-index: 10001;
    display: none;

    transition : transform 0.2s, box-shadow 0.3s;
}
.dropdown_list:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 20px #ffd814;

}
.dropdown_list li{
    display: block;
    border: 2px solid #ffd814;
    box-shadow: 0px 0px 5px white;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;


    transition: transform 0.2s, box-shadow 0.3s;
}
.dropdown_list li:hover{
    transform: translateY(-4px);
    box-shadow: 0px 5px 10px #ffd814;
}



















